config
configstore
description
fish
flutter
gc.log
gcloud
github-copilot
hooks
htop
index
info
iterm2
jgit
iterm2
info
logs
objects
packed-refs
refs
simple-update-notifier
slack-term
tmux-*
xbuild
yarn
